html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding-bottom: 5%;
    font-family: Garamond, serif;
    background-color: #181a1b;
}

.top {
    display: flex;
    text-align: center;
    align-items: center;
    height: 150pt;
    background-color: blueviolet;
    justify-content: center;
}

.header {
    color: white;
    font-size: 5em;
    font-family: Garamond, serif;
    margin-bottom: 12pt;
}

.pfp {
    width: 40%;
    margin: auto;
    display: block;
}

.info {
    height: 100%;
    margin: 0 14%;
    padding-bottom: 50pt;
}

.section {
    margin-top: 5;
    margin-bottom: 5;
    font-size: 1.5em;
    color: #e8e6e3;
}

.points {
    height: 50%;
    background-color: gray;
    text-align: center;
    justify-content: center;
}

.point {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-family: Garamond, serif;
}